body {
    height: 100%;
    position: relative;
    overflow-y: scroll;
}


/*Navbar starts*/


div > nav {
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding-top: 10;
    transition-duration: 0.5s;
    
}

div > nav:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition-duration: 0.5s;
}

div > nav > ul {
    padding-top: 20
}

div > nav > ul > li {
    display: inline;
    margin-left: 20;
}


div > nav > ul > li:first-child {
    margin-left: 0;
}

div > nav > ul > li > a {
    color: #fff;
    font-family: raleway;
    font-size: 25px;
    transition-duration: 0.5s;
}

div > nav > ul > li > a:hover {
    text-decoration: none;
    transition-duration: 0.5s;
}

.navbar-li {
    padding: 0;
}

/*Navbar end*/

}

/*first section starts*/

#background1 {
    content: url(http://res.cloudinary.com/difgcw5vd/image/upload/v1479227331/pexels-photo-205316_qwi56p.png);

}

/*First section ends*/

/*Second section starts*/

#background2 {
    Content: url(http://res.cloudinary.com/difgcw5vd/image/upload/v1480787164/pexels-photo-116246_eqqjwd.jpg);
}

